body {
font-family: 'Arimo', sans-serif;
}

.container{
	width: 70%;
	margin: 0 auto;
}
h1{
	text-align: center;
}
.logo{
	margin: 0 auto;
	display: block;
}

nav ul {
	list-style-type: none;
	background: red;
	text-align: center;
	padding: 0;
}
nav li {
	display: inline-block;
	border-right: 1px solid #95969d;
	margin-left: -4px;
}

nav li:last-child {
	border: none;
}

nav a {
	color: white;
	padding: 10px;
	display: inline-block;
}
nav a:hover{
	background: white;
	color: red;
}

.gallery ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
}
.gallery li{
	display: inline-block;
	border-right: 1px solid #95969d;
	margin-left: 10px;
}
footer p  {
	text-align: center;
}
.me {
	background-color: rgba(211,211,211,0.6);
	padding: 10px;
	font-size: 21px;
}
.me2 {
	 background-color: rgba(211,211,211,0.6);
	 padding: 10px;
	 font-size: 21px;
}
.me3 {
	 background-color: rgba(211,211,211,0.6);
	 padding: 10px;
	 font-size: 21px;
}
.me4 {
	 background-color: rgba(205,205,205,0.6);
	 padding: 10px;
	 font-size: 21px;
}
.me5 {
	background-color: rgba(205,205,205,0.6);
	 padding: 10px;
	 font-size: 21px;
}
#thumbwrap {
	position:relative;
	margin:75px auto;
	width:252px; height:252px;
}
.thumb img { 
	border:1px solid #000;
	margin:3px;
	float:left;
}
.thumb span { 
	position:absolute;
	visibility:hidden;
}		